/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-base);
    background: var(--color-light);
    color: var(--color-text);
    transition: background-color var(--transition-base), color var(--transition-base);
}

.card {
    background-color: var(--color-white);
    border-radius: var(--border-radius-lg);
}
h2 {
    color: var(--color-dark);
}
button {
    background: var(--color-dark);
        color: var(--color-text);
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(12px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadeInUp 0.9s ease-out forwards;
}